<footer>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
    accusamus autem ipsa minima eius natus eum et nobis enim, facere ducimus
    reiciendis culpa quasi fuga quam itaque totam provident numquam!
  </p>
</footer>
