<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accueil</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>
    <%- include('partial/header_ejs.ejs') %>

    <h1>page Accueil</h1>

    <%- include('partial/nav_ejs.ejs') %>
    
     <%- include('partial/footer_ejs.ejs')
    %>
  </body>
</html>
